
h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
}



p {
    margin-bottom: 12px;
}

.intro-container {
    margin-bottom: 28px;
}

.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 18px;
}

.artist-name {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-size: 120%;
}

.artist-role {
    font-style: italic;
    width: 6em;
}

address {
    margin-top: 24px;
    margin-left: 6vw;
}

.email-container {
    margin-top: 24px;
    margin-left: 6vw;
}

.read-manifesto-container {
    margin-top: 30px;
    margin-left: 6vw;
}


@media (max-width: 760px) {
    .artist-container {
        flex-direction: column;
    }
}