

<div class="page-container">
    <main itemtype="https://schema.org/PerformingGroup" itemscope>

        <h1>About</h1>

        <div class="intro-container">
            <p>The Orm is a collaboration between three artists from diverse fields who are interested in ideas about the materiality of sculpture and sound, the role of art in society and authenticity.</p>

            <p>For more, listen to our audio manifesto, or read the <a routerLink="/about/manifesto">manifesto transcript</a></p>
        </div>

        <div class="artist-container" itemprop="employee" itemscope itemtype="https://schema.org/Person">
            <div class="artist-name" itemprop="name">Brendan James Arnold</div>
            <div class="artist-role" itemprop="jobTitle">Electronics</div>
        </div>
        <div class="artist-container" itemprop="employee" itemscope itemtype="https://schema.org/Person">
            <div class="artist-name" itemprop="name">Daniel Cioccoloni</div>
            <div class="artist-role" itemprop="jobTitle">Sound</div>
        </div>
        <div class="artist-container" itemprop="employee" itemscope itemtype="https://schema.org/Person">
            <div class="artist-name" itemprop="name">Matthew Roy Arnold</div>
            <div class="artist-role" itemprop="jobTitle">Sculpture</div>
        </div>


        <h2>Contact</h2>

        <address itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope>
            Room G2 BV Studios<br />
            <span itemprop="streetAddress">37 Philip St</span><br />
            <span itemprop="addressLocality">Bristol</span><br />
            <span itemprop="postalCode">BS3 4EA</span>
        </address>

        <div class="email-container">
            <a itemprop="email" href="mailto:contact@theorm.space">contact@theorm.space</a>
        </div>

        <div class="read-manifesto-container">
        </div>

    </main>
</div>