<div class="page-container">

    <main>

        <h1>Manifesto</h1>

        <div class="content">

            <p><span class="timestamp" data-timestamp="8.157347">00:08</span> Exist in now<br /></p>
            <p><span class="timestamp" data-timestamp="14.329729">00:14</span> What we can say most strongly is we're drawn to them, we find find them interesting because of how they are and we are not trying to rationalise that in that maybe a lot of other art does, that it tells you this is why, or this is what it means or this is the reason, we're simply saying 'it is'.</p>
            <p><span class="timestamp" data-timestamp="28.704196">00:28</span><span> There's a lot of interaction is sculpture anyway, just from your natural approach to a piece. The way you walk around it, there's a discovery process,once you get closer, as you can see around the sculpture. We wanted to enhance that rather than do something entirely different.</span><br /></p>
            <p><span class="timestamp" data-timestamp="49.938202">00:49</span> <i>Muttering in studio</i><span><br /></span></p>
            <p><span class="timestamp" data-timestamp="70.62398">01:10</span> Like when you approach the objects the light get brighter and it reveals more, the sounds overlay, become more intense, the more you see the more you hear<i><br /></i></p>
            <p><span class="timestamp" data-timestamp="84.603615">01:24</span> We used techniques from the theatre to bring out shadows ...<br /></p>
            <p><span class="timestamp" data-timestamp="88.668016">01:28</span> Maybe how poetry doesn't directly tell you something immediately but it paints a picture for you<br /></p>
            <p><span class="timestamp" data-timestamp="114.857878">01:54</span> There's the level of the artwork and there's the level of the meaning. A conceptual piece of artwork isn't interested in what it actually is, it's trying to direct you to something beyond the artwork itself. In many ways the way we are working is almost the opposite of that in that we are interested in what the artwork actually is and not giving any explicit meaning or not trying to tell something specific to the audience<br /></p>
            <p><span class="timestamp" data-timestamp="137.018549">02:17</span> To kind of bring you back to ...<br /></p>
            <p><span class="timestamp" data-timestamp="140.883001">02:20</span> Quite a lot of effort in new technologies are about removing us further from reality, like creating virtual realities, virtual ...<br /></p>
            <p><span class="timestamp" data-timestamp="151.057884">02:31</span> ... spaces that are like our minds<br /></p>
            <p><span class="timestamp" data-timestamp="163.348101">02:43</span> You know there is this kind of online space where all this information or stuff is. It's changed our thoughts of the world - the idea of the world we exist in now, because there is this other world attached to it which is just information floating around, that you can ...<br /></p>
            <p><span class="timestamp" data-timestamp="181.559198">03:01</span> ... parallel spaces ...<br /></p>
            <p><span class="timestamp" data-timestamp="183.789834">03:03</span> ... yeah ...<br /></p>
            <p><span class="timestamp" data-timestamp="186.615974">03:06</span>  ... that we are increasingly living in<br /></p>
            <p><span class="timestamp" data-timestamp="186.615974">03:06</span> We create books and write things down, that is not what is actually in front of you, you read books to inhabit those parallel spaces instead of the space you're actually in now so its the same driver behind that kind thing that have something in common which is trying to inhabit a parallel world that means something else beyond just the world that you're sitting in right now staring at in front of you<br /></p>
            <p><span class="timestamp" data-timestamp="209.499663">03:29</span> Well you have dreams and thoughts which are also parallel worlds aren't they? And they make connection with real thing don't they? Your dreams, you connect them to, you connect objects together or object to feelings</p>
            <p><span class="timestamp" data-timestamp="226.722323">03:46</span> Do you think it's necessary? We have to have these parallel worlds?<br /></p>
            <p><span class="timestamp" data-timestamp="231.531398">03:51</span> Its like an image though. If you paint a white horse it makes you think of a white horse but it actually doesn't make you think of paint. It removes the object - of what's in front of you - to an image<br /></p>
            <p><span class="timestamp" data-timestamp="251.763035">04:11</span> Exist in now<br /></p>
            <p><span class="timestamp" data-timestamp="298.573663">04:58</span> Now making something that is just there is quite an interesting thing to do because you are kind of creating something in a way that - you are just saying this needs to exist<br /></p>
            <p><span class="timestamp" data-timestamp="316.396521">05:16</span> The object is already there in front of you<br /></p>
            <p><span class="timestamp" data-timestamp="323.646355">05:23</span> It's totally different when you see them in your hand or you can play around with them. I mean there's a materiality to it - the textures - even the electronics. A lot of people when they have electronics in artworks, they're much more interested in what the electronics does and how it works as opposed to the materiality of the electronics. They are not really interested in seeing the circuitry ... there are a lot of works that hide the electronics away, so they are only interested in what it does. You quite often see that in the way a lot of electronic artworks are - the overall look of the piece, the direction of the piece - they are there just to implement, you know, use electronics know-how and make the light flash or make that thing move. The process of actually developing the board - not taking that out - in fact including this and more letting the board evolve rather than being so strongly, rigorously designed to a specification. A long time ago it would be the Swiss watch would show all its parts and you'd take delight in the mechanism itself.<br /></p>
            <p><span class="timestamp" data-timestamp="406.519173">06:46</span> People associate origins with sounds<br /></p>
            <p><span class="timestamp" data-timestamp="408.239464">06:48</span> Energetic pulsing breathing rhythmic sounds. Real sounds, modified real sounds and synthesised sounds</p>
            <p><span class="timestamp" data-timestamp="431.909093">07:11</span> I'm trying to create sounds that are believable, that are interesting, that are complex but that you wouldn't encounter in the real world. Sounds that I've created from scratch or sounds that I've built up from fundamental components or they're recorded sounds but that have been manipulated and shaped and edited to a point that - that sound experience - you couldn't have just walking around, just listening to a piece of music. With the sound I try and achieve an experience that is different from the traditional musical experience. Music is generally is seen as a mode of expression or a way of transmitting a kind of emotion, a way or feeling - to try an tell you what you should be feeling, so the role of music in a film is to tell you what to feel, it's there to make you scared or emotional or whatever it is - it's trying to drag you in different directions and trying to make you feel things.</p>
            <p><span class="timestamp" data-timestamp="505.196104">08:25</span><span> ... but as you go more abstract then you can start almost listening to the sounds without</span> those causes and it can become a way towards a more pure sonic experience. In the same way you can run your hand against a rock and feel he grain of it, you can try to listen to a sound just for the actual qualities of a certain sound itself.<br /></p>
            <p><span class="timestamp" data-timestamp="546.480936">09:06</span> We naturally find things that we like in the natural world that weren't made by human beings. In the desert, the random processes that shift the sand dunes is going to end up making sand dunes that are all roughly similar to each other, it's never going to make a sandcastle, it's always going to make sand dunes ...</p>
            <p><span class="timestamp" data-timestamp="562.674491">09:22</span> ... yeah ...<br /></p>
            <p><span class="timestamp" data-timestamp="564.66852">09:24</span> ... a human is going to make sandcastles and we are somewhere in-between those two, so we're using randomness but we are shaping and informing that randomness to create something that's neither a sand dune nor a sandcastle<br /></p>
            <p><span class="timestamp" data-timestamp="579.851982">09:39</span> There's natural in the sense that most people understand natural to mean which is probably like a rock or a tree or something and there's natural in the mathematical sense which is the most fundamental ...<br /></p>
            <p><span class="timestamp" data-timestamp="588.993755">09:48</span> ... as in a rock occurs natural but also to human beings, as an animal, it occurs naturally to them to draw circles and squares and things like that ...<br /></p>
            <p><span class="timestamp" data-timestamp="596.036505">09:56</span> ... a fundamental shape that anyone would come up with because it's 'square one' if you like. It's ...<br /></p>
            <p><span class="timestamp" data-timestamp="602.827489">10:02</span> ... just shapes that exist. Or simple geometrical shapes and symmetries or circles and squares.<br /></p>
            <p><span class="timestamp" data-timestamp="619.601963">10:19</span> Exist in now<br /></p>
            <p><span class="timestamp" data-timestamp="638.428277">10:38</span> <i>Footsteps</i><br /></p>

        </div>
    </main>
</div>