<div class="page-container">
    <main>
        <h1>Works / Tower</h1>

        <div class="image-right-container">
            <carousel>
                <carousel-image img="/img/works/tower/person2.jpg" alt="Close up two people looking into Tower"></carousel-image>
                <carousel-image img="/img/works/tower/interior.jpg" alt="Interior of Tower showing night glow"></carousel-image>
                <carousel-image img="/img/works/tower/interior2.jpg" alt="Interior of Tower showing harsh day light"></carousel-image>
                <carousel-image img="/img/works/tower/interior3.jpg" alt="Interior detail of Tower showing subdued daylight"></carousel-image>
                <carousel-image img="/img/works/tower/interior4.jpg" alt="Interior detail of Tower showing night glow"></carousel-image>
            </carousel>
            <p>Tower is a monolithic light and sound sculpture. You are invited to place your head inside and explore the paintings and sculptures within. Exploring the physicality of sculpture and the no small jeopardy felt when partially subsumed under the hanging mass, Tower uses techniques from the film and television industry, to play with our sense of scale and depth.</p>

            <p>The earliest exhibited work by The Orm, Tower asks us to consider the human need to create and our role as totem makers. Tower manifests subconscious desires to build things in our own image, eking out a private space separate from the world and simultaneously part of it. The timed day, night cycles and miniature structures evoke a <em>prima facie</em> model village reality, yet this is perverted when we notice human size hand prints and the audio system decorated and displayed as an integral part of the work. In a sense, Tower embodies the child-like urge to make our mark on the wider world informed by the pressures of adulthood, the desire for authenticity and the sheer physicality of sculpture.</p>
        </div>


        <div class="image-center-container">
            <carousel aspectratio="49.8458333333%"> 
                <carousel-triptych      
                    imgLeft="/img/works/tower/10.jpg" 
                    altLeft="People looking into Tower" 
                    imgMiddle="/img/works/tower/11.jpg"
                    altMiddle="People looking into Tower"
                    imgRight="/img/works/tower/12.jpg" 
                    altRight="People looking into Tower"></carousel-triptych>
                <carousel-triptych      
                    imgLeft="/img/works/tower/1.jpg" 
                    altLeft="People looking into Tower" 
                    imgMiddle="/img/works/tower/2.jpg"
                    altMiddle="People looking into Tower"
                    imgRight="/img/works/tower/3.jpg" 
                    altRight="People looking into Tower"></carousel-triptych>
                <carousel-triptych      
                    imgLeft="/img/works/tower/4.jpg" 
                    altLeft="People looking into Tower" 
                    imgMiddle="/img/works/tower/5.jpg"
                    altMiddle="People looking into Tower"
                    imgRight="/img/works/tower/6.jpg" 
                    altRight="People looking into Tower"></carousel-triptych>
                <carousel-triptych      
                    imgLeft="/img/works/tower/7.jpg" 
                    altLeft="People looking into Tower" 
                    imgMiddle="/img/works/tower/8.jpg"
                    altMiddle="People looking into Tower"
                    imgRight="/img/works/tower/9.jpg" 
                    altRight="People looking into Tower"></carousel-triptych>
            </carousel>
        </div>

        <blockquote>It was unanimous - makers should make - and so construction of the Tower began. During this time, discussions took place - the makers debated. All ideas were embraced and moulded into the rock. Then it was complete, its original forms changed beyond use and recognition.  The most important thing though, is that it was made.</blockquote>

        <h2>Exhibitions</h2>

        <ul class="past-exhibitions-container">
            <li><span class="">Motorcycle Flashparade, Bristol</span>, <span class="">March 2015</span></li>
        </ul>



    </main>
</div>