
<div class="page-container">
    <main>

        <h1>Works</h1>

        <div class="works-container">
            <h2>Recursions</h2>
            <div class="works-body">
                <!--<picture class="logo">
                    <img src="/img/works/recursions-logo.sml.png" alt="Recursions Logo" />
                </picture>-->
                <div class="works-about-container">
                    <p>The pieces re-imagine the classical portrayal of landscape suitable for modern existance. Taking form as repeating and morphing objects and using an array of mixed media such as plaster, glass, silicone, organic matter, resin, wood, metal and stone the work acknowledges the varied abstracted realities we live within today.</p> 
                    <p><a routerLink="/works/recursions">More on Recursions</a></p>
                </div>
            </div>
        </div>

        <div class="works-container">
            <h2>Manifestations</h2>
            <div class="works-body">
                <!--<picture class="logo">
                    <img src="/img/works/manifestations-logo.sml.png" alt="Manifestations Logo" />
                </picture>-->
                <div class="works-about-container">
                    <p>The works provide a focal point for meditation on our relationship with real and virtual spaces as well a serving as an example of how digital technology can be used to build on traditional sculptural practice. The pieces feature sounds and lighting which respond to the way a viewers approaches the works revealing new meanings in the physical forms</p>
                    <p><a routerLink="/works/manifestations">More on Manifestations</a></p>
                </div>
            </div>
        </div>

        <div class="works-container">
            <h2>Tower</h2>
            <div class="works-body">
                <!--<picture class="logo">
                    <img src="/img/works/tower-logo.sml.png" alt="Tower Logo" />
                </picture>-->
                <div class="works-about-container">
                    <p>It was unanimous - makers should make - and so construction of the Tower began. During this time, discussions took place and the makers debated. All ideas were embraced and moulded into the rock with no idea rejected. Then it was complete, its original forms changed beyond use and recognition.  The most important thing though, is that it was made.</p>
                    <p><a routerLink="/works/tower">More on Tower</a></p>
                </div>
            </div>
        </div>

    </main>
</div>