

h1 {
    margin-bottom: 40px;
}

.works-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 28px;
}

.works-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    margin-right: 30px;
}

.logo img {
    width: 200px;
}

h2 {
    /*margin-left: 230px;*/
    margin-bottom: 20px;
}

.works-about-container {

}

.works-about-container > h2 {

}

.works-about-container > p {
    margin-bottom: 12px;
}

@media (max-width: 760px) {
    .works-container {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        align-self: flex-start;
    }
}