.works-title {
    margin-bottom: 6px;
}

.carousel-container {
    width: 100%;
}

.past-exhibitions-container {
    margin-left: 6vw;
    margin-bottom: 12px;
}

blockquote {
    font-style: italic;
    margin: 10% 20%;
}