<div class="page-container">
    <main>
        <h1>Works / Recursions</h1>

        <div class="image-right-container">
            <carousel>
                <carousel-image img="/img/works/recursions/1.jpg" alt="First Recursion close up in daylight"></carousel-image>
                <carousel-image img="/img/works/recursions/2.jpg" alt="First Recursion close up under white glow"></carousel-image>
                <carousel-image img="/img/works/recursions/3.jpg" alt="First Recursion close up under UV"></carousel-image>
                <carousel-image img="/img/works/recursions/4.jpg" alt="First Recursion front on under white glow"></carousel-image>
                <carousel-image img="/img/works/recursions/5.jpg" alt="First Recursion front on under UV"></carousel-image>
                <carousel-image img="/img/works/recursions/6.jpg" alt="First Recursion close up right daylight"></carousel-image>
                <carousel-image img="/img/works/recursions/7.jpg" alt="First Recursion close up right white glow"></carousel-image>
                <carousel-image img="/img/works/recursions/8.jpg" alt="First Recursion close up right UV"></carousel-image>
                <carousel-image img="/img/works/recursions/9.jpg" alt="Third Recursion front on under white glow"></carousel-image>
                <carousel-image img="/img/works/recursions/10.jpg" alt="Third Recursion front on under UV"></carousel-image>
            </carousel>

            <p>Recursions are interactive light sculptures that re-imagine the classical landscape in a way that is suitable for modern existance. Taking a physical form of repeating and morphing objects and using an array of mixed media such as plaster, glass, silicone, organic matter, resin, wood, metal and stone the work acknowledges the varied abstracted realities we live within today.</p> 

            <p>Wanting to look at ideas on the potency of creation and its dangers, the pieces bear witness to how individuals within society now have the ability to create almost anything. With virtual and real environments, genetic engineering, cloning and manufacturing, we can't help but think were are becoming a version of the flawed Gods of ancient Greece that had these same powers over us. These complex layered artworks could serve as reference point in our reality by mapping this modern landscape, or they could be adding ever more layers of abstraction.</p>
        </div>


        <p>The pieces light up in the dark and respond with UV when people come close. The works also seek honesty and clarity by including the original stone along with the replicas. The structure doubles as part of the circuitry along with transparent cabling and exposed circuit boards making the work electronically readable.</p>

        <div class="image-center-container">
            <carousel>
                <carousel-image img="/img/works/recursions/11.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/12.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/13.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/14.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/15.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/16.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/17.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/18.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/19.jpg" alt=""></carousel-image>
                <carousel-image img="/img/works/recursions/20.jpg" alt=""></carousel-image>
            </carousel>
        </div>

        <h2>Exhibitions</h2>

        <ul class="past-exhibitions-container">
            <li><span class="">Centrespace, Bristol</span>, <span class="">March 2015</span></li>
            <li><span class="">Mercer Chance, London</span>, <span class="">March 2015</span></li>
        </ul>



    </main>
</div>
