
h1 {
    margin-bottom: 64px;
}

h2 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.image-right-container {
    /*display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;*/
    display: relative;
    margin-left: -60px;
    margin-right: -60px;
    margin-bottom: 30px;
}


.image-right-container > carousel {
    /*flex-basis: 55%;*/
    margin-left: 24px;
    margin-bottom: 24px;
    width: 60%;
    float: right;
}

.image-right-container > .text-container {
    /*flex-basis: 38%;*/
    margin-top: 26px;
}

.image-center-container {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    margin-bottom: 12px;
}

.past-exhibitions-container {
    margin-left: 6vw;
    margin-bottom: 12px;
}

@media (max-width: 760px) {

    h1 {
        margin-bottom: 12px;
    }

    .image-right-container {
        margin: 0px;
    }

    .image-right-container > carousel {
        margin: 0px 36px;
        float: none;
        width: 100%;
    }

    .image-center-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}