<div class="page-container">
    <main>

        <h1>Works / Manifestations</h1>

        <div class="image-right-container">
            <carousel>
                <carousel-image img="/img/works/manifestations/shard-person.jpg" alt="Close up of Rokolube (Shard) with onlookers"></carousel-image>
                <carousel-image img="/img/works/manifestations/shard-person2.jpg" alt="Rokolube (Shard) with onlookers"></carousel-image>
                <carousel-image img="/img/works/manifestations/congregation2.jpg" alt="Close up of one of the wall mounted Achemula Pochi Chuvoshishe (Congregation)"></carousel-image>
                <carousel-image img="/img/works/manifestations/fish.jpg" alt="Close up of Chethesi U (Fish) glowing from the interior"></carousel-image>
                <carousel-image img="/img/works/manifestations/fish-person.jpg" alt="Chethesi U (Fish) with onlooker"></carousel-image>
                <carousel-image img="/img/works/manifestations/smurf-person.jpg" alt="Onlookers with Hattho Afiagle (Smurf)"></carousel-image>
                <carousel-image img="/img/works/manifestations/smurf-detail.jpg" alt="Detail of Hattho Afiagle (Smurf)"></carousel-image>
            </carousel>

            <p>Manifestations are a series of semi-site specific interactive light and sounds sculptures that shun external references and instead bring focus to the physicality of the object in front of you. The works respond to presence through electronics in subtle and changing ways. The forms take on aspects of artificiality but the shifting behaviours are just as much controlling as they are controlled - these are personalities not appliances.</p>

            <p>In fact, our impressions of the objects shift on approach. Taking the traditional sculptural considerations of form, then depth, then detail and enhancing that with triggered light and sounds, some appear organic at a distance, yet appear to become artefact up close. Others reveal their grossly simplified homunculus through UV painting reminding us of the limited understanding that robots have of the physical reality.</p>


        </div>

        <p>Each of the pieces is implicitly twinned with an idealised virtual counterpart. We consider the infinite malleability of a virtual representation of the sculptures. The fact that they might be duplicated without cost, that these duplicates can be shrunk to the size of an atom or to the scale of Jupiter, that they can move freely without physical limitation - they are purer, more pervasive and yet we value the physical sculptures simply for existing.</p
>
        
        <div class="image-center-container">
            <carousel aspectratio="45.6791666667%">
                <carousel-diptych      
                    imgLeft="/img/works/manifestations/smurf-virtual.gif" 
                    altLeft="The virtual representation of the Hattho Afiagle (Smurf)" 
                    aspectRatioLeft="0.7"
                    imgRight="/img/works/manifestations/smurf.jpg" 
                    altRight="Hattho Afiagle (Smurf)"
                    aspectRatioRight="1.5"></carousel-diptych>
                <carousel-diptych      
                    imgLeft="/img/works/manifestations/preacher.jpg" 
                    altLeft="The 'Preacher' portion of Achemula Pochi Chuvoshishe" 
                    aspectRatioLeft="0.665"
                    imgRight="/img/works/manifestations/congregation.jpg" 
                    altRight="One of the Congregation of Achemula Pochi Chuvoshishe"
                    aspectRatioRight="1.5"></carousel-diptych>
            </carousel>
        </div>

        <h2>Exhibitions</h2>

        <ul class="past-exhibitions-container">
            <li><span class="">St John's Crypt, Bristol</span>, <span class="">March 2015</span></li>
        </ul>


    </main>
</div>