app-navigation {
    top: 0px;
    left: 0px;
    position: absolute;
    max-width: 100%;
}

router-outlet {
    position: absolute;
}

#layout-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

audio-player {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 100%;
}


@media (max-width: 760px) {
    app-navigation {
        position: fixed;
        top: 0px;
    }
    audio-player {
        position: fixed;
        top: initial;
        bottom: 0px;
    }
 }
