
<div class="root-container" [@navState]="visibleState">
    <audio #audioelement (timeupdate)="timeUpdated()"></audio>
    <div class="audio-control-container">
        <div *ngIf="!clipName">
            <a class="hyperlink" (click)="playManifesto()">Listen to Manifesto</a>
        </div>
        <div *ngIf="clipName">
            <p>Playing <cite>{{ clipName | uppercase }}</cite></p>
            <p class="playback-time-container">{{ progressTime }} / {{ totalTime }}</p>
            <a class="btn-play-pause" (click)="togglePlayback()">
                <img src="/img/{{ playPauseString | lowercase }}.svg" alt="{{ playPauseString }}" />
            </a>
        </div>
    </div>
</div>