
.root-container {
    background-color: rgba(255,255,255,1.0);
    height: 3rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.playback-time-container {
    min-width: 140px;
    text-align: right;
}
.btn-play-pause {
    text-decoration: none;
    display: inline-block;
    /*min-width: 55px;*/
    margin-left: 8px;
    text-align: left;
    align-self: center;
}
.btn-play-pause > img {
    vertical-align: bottom;
}
.audio-control-container {
    flex-grow: 1;

}
.audio-control-container > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.audio-control-container > * {
    display: inline-block;
}

@media (max-width: 760px) {


    .audio-control-container > div {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;

        display: flex;
        justify-content: flex-start;
    }

    .playback-time-container {
        text-align: right;
        flex-grow: 1;
        min-width: unset;
    }
    .btn-play-pause {
        align-self: flex-end;
    }

}