nav {
    background-color: rgba(255,255,255,1.0);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*filter: drop-shadow(0px -6px 6px black);*/
    width: 100vw;
    max-width: 100%;
}
nav > dropdown-menu {
    margin-right: 20px;
}
.nav-container > li {
    display: inline-block;
    margin-right: 20px;
}
.nav-container > li:first-child {
    margin-left: 30px;
}


@media (max-width: 760px) {
    .nav-container > li:first-child {
        /* First link i.e. 'Home' */
        margin-left: 5vw;
    }
 }