 <nav [@navState]="visibleState">
    <ul class="nav-container" >
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home">Home</a></li>
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/works">Works</a></li>
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/news">News</a></li>
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/about">About</a></li>
    </ul>
</nav>