
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic);

html {
    font-size: 1.1em;
}

body {
    font-size: 100%;
    /* Prevents mobile Safari adjusting font size 'smartly' */
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
}

* {
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 235%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
} 



a.hyperlink {
    color: blue;
    text-decoration: underline;
}

a.hyperlink:active {
    color: red;
}

a.hyperlink::visited {
    color: purple;
}

button.hyperlink {
    color: blue;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0px;
}

button.hyperlink:active {
    color: red;
}

button.hyperlink::visited {
    color: purple;
}


.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.active {
    color: black;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

main {
    width: 70%;
    max-width: 800px;
    margin-top: calc(3rem + 30px);
    margin-bottom: calc(3rem + 30px);
}

main > h1 {
    margin-left: 6vw;
}

.app-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 1000px) {
    main {
        width: 80%;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 1.0em;
    }
    h1 {
        font-size: 200%;
    }

    main {
        width: 90%;
    }
}
