
.root-container {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.img-container {
    position: relative;
    background: url('img/main-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.layout-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    opacity: 0.8;
    font-size: 350%;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: -10px;
}