.root-container {
    border-bottom: 1px solid lightgray;
    display: inline-block;
}

.error, .submitted {
    border-bottom: none;
}

button.submit {
    text-decoration: none;
}

.email-input {
    border: none;
    margin-right: 6px;
    font-size: 105%;
    padding: 0px 12px 6px 12px;
    display: inline-block;
    width: 15em;
}

/* Workaround for bug in Chrome http://stackoverflow.com/a/14205976/199 */
.email-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.email-input:focus {
    outline: none;
}

.email-input::-webkit-input-placeholder { 
    font-weight: normal;
    font-size: 90%;
    color: gray;
}

.email-input::-moz-placeholder {
    font-weight: normal;
    font-size: 90%;
    color: gray;
}

.email-input::-ms-input-placeholder {
    font-weight: normal;
    font-size: 90%;
    color: gray;
}



@media (max-width: 760px) {
    .root-container {
        border: none;
    }
    .email-input {
        border-bottom: 1px solid lightgray;
        width: 100%;
        padding-left: 0px;
    }
    .email-container a {
        text-decoration: underline;
    }
    button.submit {
        margin-top: 6px;
    }
}
