    <div class="root-container" 
        [class.submitted]="state === 'submitted'"
        [class.error]="state === 'error'">
        <div [hidden]="state !== 'ready'">
            <form #subscribeform="ngForm" name="subscribeform" id="subscribeform" >
                <input 
                    id="email"
                    name="email"
                    required
                    [(ngModel)]="email" 
                    class="email-input" 
                    placeholder="Sign up to our newsletter" 
                    type="email" 
                    #emailinput
                    />
                <button type="button" 
                    (click)="submitForm(); subscribeform.reset()" 
                    [disabled]="!subscribeform.form.valid"
                    class="hyperlink submit">Submit</button>
            </form>
        </div>
        <div [hidden]="state !== 'submitted'">
            <p>Thanks for subscribing <button class="hyperlink" type="button" (click)="resetForm()">add another email</button></p>
        </div>
        <div [hidden]="state !== 'error'">
            <p>There was a problem. <button class="hyperlink" type="button" (click)="resetForm()">Try again?</button></p>
        </div>
    </div>