
h1 {
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
}

.news-list-item {
    margin-bottom: 40px;
}

.email-container {
    align-self: center;
    margin-bottom: 40px;
}
