<div class="root-container">
    <div *ngIf="newsItem" class="news-container"
        itemscope itemtype="https://schema.org/NewsArticle">
        <div class="news-header">
            <h2 class="headline" itemprop="headline">{{ newsItem.title }}</h2>
            <time class="published-date" [attr.datetime]="newsItem.publishedDate | date:'y-MM-dd'" itemprop="datePublished">{{ newsItem.publishedDate | date:"d MMMM yyyy" }}</time>
        </div>
        <div #newsbody class="news-body" [innerHtml]="newsItem.bodyHtml" itemprop="articleBody">
        </div>
        <!-- Put all metadata after the content so can be overidden by inserted news -->
        <meta itemprop="author" content="The Orm" />
        <meta itemprop="dateModified" [content]="newsItem.publishedDate | date:'y-MM-dd'" />
        <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://theorm.space/img/logo.jpg" />
            <meta itemprop="height" content="300" />
            <meta itemprop="width" content="300" />
        </span>
        <meta itemprop="mainEntityOfPage" content="https://theorm.space" />
        <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="The Orm" />
            <link itemprop="url" href="https://theorm.space/about" />
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="http://theorm.space/img/logo.jpg" />
                <meta itemprop="height" content="300" />
                <meta itemprop="width" content="300" />
            </span>
        </span>
    </div>
    <div *ngIf="!newsItem" class="placeholder-container">
        <p>No news here</p>
    </div>
</div>