
<div class="page-container">
    <main>

        <h1>News</h1>

        <div class="email-container">
            <email-form></email-form>
        </div>

        <div *ngIf="newsItems">
            <div *ngFor="let newsItem of newsItems" class="news-list-item">
                <news-item [newsItem]="newsItem"></news-item>
                <p><a routerLink="/news/{{ newsItem.getId() }}">permalink</a></p>
            </div>
        </div>
        <div *ngIf="!newsItems">
            <div class="placeholder-container">
                No news items to show
            </div>
        </div>

    </main>
</div>