
<div class="page-container">
    <main>

        <h1>News</h1>

        <div class="email-container">
            <email-form></email-form>
        </div>

        <div *ngIf="newsItem">
            <news-item [newsItem]="newsItem" ></news-item>
        </div>
        <div *ngIf="!newsItem">
            <div class="placeholder-container">
                No news item to show
            </div>
        </div>

    </main>
</div>