.placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;
}

.headline {
    text-transform: uppercase;
}

.news-item-date {
    min-width: 13rem;
}

.published-date {
    font-style: italic;
    min-width: 10rem;
    text-align: right;
}

.news-body {
    margin-right: 10rem;
}
.news-body p {
    margin-bottom: 12px;
}

@media (max-width: 760px) {
    .news-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .published-date {
        text-align: left;
    }
    .news-body {
        margin-right: 0px;
    }
}
